<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login - Water Leakage Detection System</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="wlds logo">

        <h1>Water Leakage Detection</h1>
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
    <section class="main-content">
        <h1 id="h1">Engineer Login</h1>

        <form method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
            <br><br>
        </form>
 
            
            <br><br>
            <br><br>

    </section>

    <footer>
        <p>&copy; 2023 Water Leakage Detection System</p>
    </footer>
    <script>
        type = "text/javascript"
        src = {{ url_for('static', filename = 'script.js') }}
    </script>
</body>
</html>
